# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: iOS Tests

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    name: Run Tests
    runs-on: macos-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.0.app
    
    - name: Show Xcode version
      run: xcodebuild -version
    
    - name: Run Unit Tests
      run: |
        xcodebuild test \
          -scheme TODO \
          -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.0' \
          -testPlan TODO-TestPlan \
          -only-testing:TODOTests \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED=NO
    
    - name: Run UI Tests
      run: |
        xcodebuild test \
          -scheme TODO \
          -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.0' \
          -only-testing:TODOUITests \
          CODE_SIGN_IDENTITY="" \
          CODE_SIGNING_REQUIRED=NO
    
    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: test-results
        path: |
          **/*.xcresult
