# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: iOS CI/CD

on:
  push:
    branches: [ main, develop, feature/clean-architecture ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Select Xcode version
      run: sudo xcode-select -s /Applications/Xcode_16.1.app/Contents/Developer
    
    - name: Show Xcode version
      run: xcodebuild -version
    
    - name: Run Unit Tests
      run: |
        xcodebuild test \
          -scheme TODO \
          -destination 'platform=iOS Simulator,name=iPhone 15' \
          -skip-testing:TODOTests/TodoListSnapshotTests
